<div class="panel">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        PRUEBA TÉCNICA YO CONTIGO
      </mat-panel-title>
      <mat-panel-description>
        Presiona para ver la descripción de la prueba
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card>
        <mat-card-header>
          <mat-card-title>PRUEBA TÉCNICA YO CONTIGO</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-card-subtitle>API en Node.js:</mat-card-subtitle>
          <ul>
            <li>Crea una API en Node.js conectada a una base de datos SQL.</li>
            <li>Crea una ruta GET que devuelva una lista de usuarios en formato JSON que contenga nombre, correo electrónico, edad y sexo (puedes utilizar datos de ejemplo).</li>
            <li>Crea una ruta POST para crear nuevos usuarios.</li>
            <li>Crea una ruta PUT para editar los datos del usuario.</li>
            <li>Crea una ruta DELETE que borre al usuario correspondiente.</li>
          </ul>
          <mat-card-subtitle>Proyecto Angular:</mat-card-subtitle>
          <ul>
            <li>Crea un nuevo proyecto de Angular. Asegúrate de tener Angular CLI instalado.</li>
            <li>En la carpeta del proyecto Angular, crea un componente que mostrará una lista de usuarios. Debes tener un método para realizar la solicitud HTTP a la API y mostrar los usuarios en una lista.</li>
            <li>En el componente creado, muestra los usuarios en una tabla HTML con las siguientes columnas: ID, nombre, correo electrónico, edad, sexo.</li>
            <li>Genera un nuevo componente e implementa un formulario HTML que permita al usuario ingresar los datos de un nuevo usuario (nombre, correo electrónico, edad, sexo) y enviarlos a él.</li>
            <li>Implementa la funcionalidad para manejar errores en caso de que las solicitudes HTTP hacia el API. Muestra un mensaje de error en la interfaz de usuario en caso de que ocurra un error.</li>
          </ul>
          <mat-card-subtitle>Presentación:</mat-card-subtitle>
          <ul>
            <li>El proyecto terminado (backend y frontend) deberás subirlo a un repositorio en GitHub para poder revisar el código utilizado.</li>
            <li>Si tienes un servidor disponible donde desplegar la aplicación, ejecuta el servidor y agrega el enlace.</li>
            <li>Si no tienes un servidor disponible, utiliza ngrok para generar una URL pública temporal que nos permita ver la aplicación en un entorno de desarrollo.</li>
          </ul>
        </mat-card-content>
    </mat-card>
  </mat-expansion-panel>
</div>





